.item-container {
  width: 530px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(91, 97, 110, 0.1);
  margin-bottom: 33.5px;
}
.title-handler {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.title {
  margin: 0;
  font-weight: 500;
  line-height: 16.94px;
  font-size: 14px;
}
.paragraph {
  max-width: 745px;
  font-size: 14px;
  margin-bottom: 0;
}
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.faq-icon {
  position: absolute;
  top: 8px;
  right: 0px;
  content: "";
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.faq-icon-active {
  transform: translateY(-50%) rotate(180deg);
}
