.text-container {
  max-width: 530px;
}
.title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  margin-bottom: 1rem;
}
.headers-container {
  display: flex;
  align-items: center;
}
.summary {
  opacity: 0.3;
  margin-right: 10px;
}
.tags {
  padding: 0px 6px;
  background: rgba(0, 71, 255, 0.1);
  border-radius: 2px;
  color: var(--color-blue-100);
  line-height: 20px;
  font-size: 10px;
  font-weight: 400;
  opacity: 1;
}
