.faq-link {
  font-size: 1rem;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 20px;
  transition: color 0.2s, ease-in 0.2s;
}
.faq-link:hover,
.faq-link:active,
.active {
  color: var(--color-black-900);
  cursor: pointer;
}
