.hero-container {
  width: 100%;
  height: 100%;
}
/* Titles width */
.hero-title-main {
  max-width: 700px;
}
.hero-title-aboutCompany {
  max-width: 936px;
}
.hero-title-culture {
  max-width: 762px;
}
.hero-title-employees {
  max-width: 762px;
}
/* Paragraphs width */
.hero-paragraph-wide {
  max-width: 700px;
}
.hero-paragraph-narrow {
  max-width: 434px;
}
