/* Container margin from top - width */
.hero-container {
  width: 100%;
  height: 100%;
}
.hero-container-margin-top {
  margin-top: 120px;
  width: 100%;
  height: 100%;
}
/* Titles width */
.hero-title-width-700 {
  max-width: 700px;
}
.hero-title-width-936 {
  max-width: 936px;
}
.hero-title-width-762 {
  max-width: 762px;
}
.hero-title-width-888 {
  max-width: 888px;
}
/* Paragraphs width */
.hero-paragraph-wide {
  max-width: 700px;
}
.hero-paragraph-narrow {
  max-width: 434px;
}
