.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.navLinks {
  display: flex;
}
.navLinks li {
  margin: 1rem;
}
.navLinks .link {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}
.navLinks .link:hover,
.navLinks .link:active {
  opacity: 1;
}
.navLinks li a {
  font-size: 0.875rem;
  color: var(--color-black-900);
}
