.border-bottom {
  border-bottom: 1px solid var(--color-gray-200);
}
.header {
  max-width: 1110px;
  width: 100%;
  margin: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.navbar .logo {
  font-size: 1.5rem;
  font-weight: 800;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  margin: 0 1rem;
}
.nav-links .link {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}
.nav-links .link:hover,
.nav-links .link:active {
  opacity: 1;
}
.nav-links li a {
  font-size: 0.875rem;
  color: var(--color-black-900);
}
