.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}
.border-bottom {
  border-bottom: 1px solid var(--color-gray-400);
}
.header {
  max-width: 1110px;
  width: 100%;
  margin: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #000000;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  margin: 0 1rem;
}
.link {
  opacity: 0.4;
  transition: opacity 0.3s ease;
  font-size: 0.875rem;
  color: var(--color-black-900);
}
.link:hover,
.link:active {
  opacity: 1;
}
.active {
  opacity: 1;
  font-size: 0.875rem;
  color: var(--color-black-900);
}
