.bottom-border {
  border-bottom: 1px solid #5b616e14;
}
.sidebar-container {
  display: flex;
  width: 50%;
  padding: 13px 0;
  justify-content: space-around;
  margin: auto;
}
.link {
  padding: 13px 0;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  font-size: 14px;
  color: var(--color-black-900);
}
.highlight {
  opacity: 1;
  border-bottom: 2px solid #000000;
}
.link:hover,
.link:active {
  opacity: 1;
}
