@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");
* {
  --color-black-900: #000000;
  --color-white-100: #ffffff;
  --color-blue-100: #0047ff;
  --color-gray-300: #787e8c;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  font-size: 0.875rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.625rem 0;
}
.textGray {
  color: var(--color-gray-300);
}
.btnFull {
  background-color: var(--color-blue-100);
  color: var(--color-white-100) !important;
  padding: 0.813rem 0.938rem;
  font-weight: 500;
  opacity: 1 !important;
  box-sizing: border-box;
}
