.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
}
.space {
  display: block;
  width: 100%;
  height: 50px;
}
.unorder-list {
  list-style-type: disc;
  padding-left: 15px;
}
.list {
  margin-bottom: 20px;
  font-weight: 400;
  color: #000000;
}
.mail {
  color: #0047ff;
}
.phoneNumber {
  color: #000000;
}
.steps {
  margin-bottom: 40px;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 150px;
}
