.item {
  list-style: none;
  border: 1px solid rgba(91, 97, 110, 0.1);
  width: 100%;
  max-width: 343px;
}
.card {
  padding: 30px;
}
.number {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  margin-bottom: 25px;
  color: #0047ff;
  line-height: 30px;
}
.title {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
}
.paragraph {
}
