.cta-background-color {
  background-color: var(--color-white-150);
}
.cta-container {
  display: flex;
  justify-content: space-between;
}
.cta-single-container {
  max-width: 35rem;
}

.contact-details {
  display: flex;
  justify-content: space-between;
  gap: 4.375rem;
}
.contact-details div {
  display: flex;
}
