.cta-container {
  display: flex;
  justify-content: space-between;
}
.cta-single-container {
  max-width: 35rem;
}
.cta-button-container {
  margin-top: 3.75rem;
}
.contact-details {
  display: flex;
  justify-content: space-between;
  gap: 4.375rem;
}
.contact-details div {
  display: flex;
}
