.footer-colors {
  background-color: var(--color-black-900);
  color: var(--color-white-100);
}
.footer-container {
  padding-top: 3.75rem;
  padding-bottom: 4.625rem;
  display: flex;
  max-width: 1110px;
  margin: auto;
  justify-content: space-between;
}
.footer-main-container {
  max-width: 400px;
}
.footer-main-container p {
  letter-spacing: 0.01em;
  line-height: 30px;
}
.footer-list {
  display: flex;
  gap: 3rem;
}
.footer-container a {
  color: var(--color-white-100);
}

.border {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.policy {
  max-width: 1110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}
.icon-container {
  display: flex;
}
.icon {
  background-color: var(--color-white-100);
  width: 24px;
  margin-left: 12px;
  height: 24px;
}
