.eyebrow-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eyebrow {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 17px;
  margin: 0;
}
.read-more {
  color: var(--color-blue-100);
  line-height: 17px;
}
.title-container {
  max-width: 700px;
  line-height: 55px;
  margin-top: 5px;
}
.paragraph-wide {
  max-width: 562px;
}
.paragraph {
  max-width: 470px;
  line-height: 30px;
}
