.btn-blue {
  background-color: var(--color-blue-100);
  color: var(--color-white-100) !important;
  padding: 0.813rem 0.938rem;
  font-weight: 500;
  opacity: 1 !important;
  box-sizing: border-box;
  border: 1px solid var(--color-blue-100);
}
.btn-blue:hover,
.btn-blue:active {
  cursor: pointer;
}
